<button class="navbar-toggler navpopup-toggler open d-md-none d-block" type="button" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-haspopup="true" aria-expanded="true" aria-label="Toggle navigation"></button>
	
<nav class="navbar navbar-expand-md nav-inisible h-100 p-0 shadow" id="navbarSupportedContent">
	<button class="navpopup-toggler close d-md-none d-block rounded" type="button" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-haspopup="true" aria-expanded="true" aria-label="Toggle navigation"></button>

	<ul class="navbar-nav flex-md-grow-0 flex-grow-1 mx-auto">
		<li class="nav-item py-md-2 py-1">
			<a class="nav-link text-center" href="{{ "/" | relative_url }}" title="The homepage for the {{ site.conference.year }} {{ site.conference.full_name }} conference">Home</a>
		</li>

		<li class="nav-item dropdown py-md-2 py-1">
			<a class="nav-link dropdown-toggle text-center" href="#" id="menuAuthorsLink" role="button" data-toggle="collapse" data-target="#menuAuthors" aria-haspopup="true" aria-expanded="false">
				For Authors
			</a>
			<div class="dropdown-menu collapse shadow-md text-md-left text-center mx-md-0 mx-3 p-0" aria-labelledby="menuAuthorsLink" id="menuAuthors">
				<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/full-papers/" | relative_url }}" title="Information about submitting to the Full Papers track at {{ site.conference.short_name }} {{ site.conference.year }}">Full Papers</a>
				<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/provocation-papers/" | relative_url }}" title="Information about submitting to the Provocation Papers track at {{ site.conference.short_name }} {{ site.conference.year }}">Provocation Papers</a>
				<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/posters/" | relative_url }}" title="Information about submitting to the Posters track at {{ site.conference.short_name }} {{ site.conference.year }}">Posters</a>
				<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/demos/" | relative_url }}" title="Information about submitting to the Demos track at {{ site.conference.short_name }} {{ site.conference.year }}">Demos</a>
				<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/featured-talks/" | relative_url }}" title="Information about submitting to the Featured Talks track at {{ site.conference.short_name }} {{ site.conference.year }}">Featured Talks</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/submission/" | relative_url }}" title="Go to the submission system for {{ site.conference.short_name }} {{ site.conference.year }}">EasyChair login</a>
				<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/submission-guidance/" | relative_url }}" title="Additional guidance for authors submitting to {{ site.conference.short_name }} {{ site.conference.year }}">Submission guidance</a>
			</div>
		</li>
		
		<li class="nav-item dropdown py-md-2 py-1">
			<a class="nav-link dropdown-toggle text-center" href="#" id="menuAttendeesLink" role="button" data-toggle="collapse" data-target="#menuAttendees" aria-haspopup="true" aria-expanded="false">
				For Attendees
			</a>
			<div class="dropdown-menu collapse shadow-md text-md-left text-center mx-md-0 mx-3 p-0" aria-labelledby="menuAttendeesLink" id="menuAttendees">
				<a class="dropdown-item py-md-1 py-2" href="{{ "/registration/" | relative_url }}" title="Information about registering for {{ site.conference.short_name }} {{ site.conference.year }}">Registration</a>
				<a class="dropdown-item py-md-1 py-2" href="{{ "/registration/reduced-rates/" | relative_url }}" title="Information about individuals who are eligible for a reduced registration rate for {{ site.conference.short_name }} {{ site.conference.year }}">Reduced Rate Eligibility</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item py-md-1 py-2" href="{{ "/accessibility/" | relative_url }}" title="Additional guidance for authors submitting to {{ site.conference.short_name }} {{ site.conference.year }}">Accessibility</a>
			</div>
		</li>
		
		<li class="nav-item dropdown py-md-2 py-1">
			<a class="nav-link dropdown-toggle text-center" href="#" id="menuProgrammeLink" role="button" data-toggle="collapse" data-target="#menuProgramme" aria-haspopup="true" aria-expanded="false">
				Programme
			</a>
			<div class="dropdown-menu collapse shadow-md text-md-left text-center mx-md-0 mx-3 p-0" aria-labelledby="menuProgrammeLink" id="menuProgramme">
				<a class="dropdown-item py-md-1 py-2" href="{{ "/programme/" | relative_url }}" title="The {{ site.conference.short_name }} {{ site.conference.year }} programme">Conference programme</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item py-md-1 py-2" href="{{ "/programme/keynote/" | relative_url }}" title="Information about the {{ site.conference.short_name }} {{ site.conference.year }} keynote speaker">Keynote</a>
				<a class="dropdown-item py-md-1 py-2" href="{{ "/programme/industry-panel/" | relative_url }}" title="Information about the {{ site.conference.short_name }} {{ site.conference.year }} industry panel">Industry panel</a
			</div>
		</li>

		<li class="nav-item dropdown py-md-2 py-1">
			<a class="nav-link dropdown-toggle text-center" href="#" id="menuCommitteesLink" role="button" data-toggle="collapse" data-target="#menuCommittees" aria-haspopup="true" aria-expanded="false">
				Organisation
			</a>
			<div class="dropdown-menu collapse shadow-md text-md-left text-center mx-md-0 mx-3 p-0" aria-labelledby="menuCommitteesLink" id="menuCommittees">
				<a class="dropdown-item py-md-1 py-2" href="{{ "/programme-committee/" | relative_url }}" title="The members of the {{ site.conference.short_name }} {{ site.conference.year }} Programme Committee">Programme Commmitee</a>
				<a class="dropdown-item py-md-1 py-2" href="{{ "/organising-committee/" | relative_url }}" title="The members of the {{ site.conference.short_name }} {{ site.conference.year }} Organising Committee">Organising Commmitee</a>
				<a class="dropdown-item py-md-1 py-2" href="https://www.conversationaluserinterfaces.org/steering-committee/" title="Visit the website for the {{ site.conference.short_name }} series Steering Committee">Steering Commmitee</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item py-md-1 py-2" href="{{ "/sv/" | relative_url }}" title="Become a {{ site.conference.short_name }} {{ site.conference.year }} Student Volunteer">Student Volunteers</a>
			</div>
		</li>
		
		<li class="nav-item py-md-2 py-1 d-none">
			<a class="nav-link text-center" href="{{ "/partners/" | relative_url }}" title="Details of the partners and sponsors supporting {{ site.conference.short_name }} {{ site.conference.year }}">Partners</a>
		</li>
		
		<li class="nav-item py-md-2 py-1">
			<a class="nav-link text-center" href="{{ "/contact/" | relative_url }}" title="Contact the organisers of {{ site.conference.short_name }} {{ site.conference.year }}">Contact</a>
		</li>
	</ul>
	
	<div class="align-self-stretch"></div>
</nav>
