---
layout: default
---
<section class="main-body main-singleton">
	{% if page.cta.text %}
	<div class="main-title row py-4">
		<div class="col-md-6 col-12 text-md-left text-center">
			<h1 class="m-0 p-0">{{ page.title | escape | replace: "!!conference.full_name!!", site.conference.full_name | replace: "!!conference.short_name!!", site.conference.short_name  | replace: "!!conference.year!!", site.conference.year  | replace: "!!conference.location!!", site.conference.location  | replace: "!!conference.dates!!", site.conference.dates }}</h1>
		</div>
		<div class="col-md-6 col-12 pt-md-0 pt-3 text-md-right text-center">
		{% if page.cta.link and page.cta.title %}
			<a href="{{ page.cta.link }}" class="btn btn-lg btn-primary" title="{{ page.cta.title }}">{{ page.cta.text }} &rarr;</a>
		{% else %}
			<a class="btn btn-lg btn-outline-primary disabled">{{ page.cta.text }}</a>
		{% endif %}
		</div>
	</div>
	{% else %}
	<div class="main-title py-4 text-md-left text-center">
		<h1 class="m-0 p-0">{{ page.title | escape | replace: "!!conference.full_name!!", site.conference.full_name | replace: "!!conference.short_name!!", site.conference.short_name  | replace: "!!conference.year!!", site.conference.year  | replace: "!!conference.location!!", site.conference.location  | replace: "!!conference.dates!!", site.conference.dates }}</h1>
	</div>
	{% endif %}
    <div class="main-content">
		<article>
			{{- content -}}
		</article>
    </div>
</section>