---
title: Calendar events for all sessions
permalink: /programme/ics/all.ics
layout: none
---
BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//porcheron.uk//Martin Porcheron
X-WR-CALNAME:{{ site.url }}{{ site.baseurl }}{{ page.url }}
NAME:{{ site.url }}{{ site.baseurl }}{{ page.url }}
REFRESH-INTERVAL;VALUE=DURATION:P1D
CALSCALE:GREGORIAN

{%- for session in site.data.prg_sessions %}{% if session.type == "EOD" %}{% elsif session.type == "Break" %}{% else %}
BEGIN:VEVENT
DTSTAMP:{{ "now" | date: "%Y%m%dT%H%M00" }}Z
UID:{{ session.start_time | date: "%Y%m%dT%H%M00" }}Z@2021.conversationaluserinterfaces.org
DTSTART:{{ session.start_time | date: "%Y%m%dT%H%M00" }}Z
DTEND:{{ session.end_time | date: "%Y%m%dT%H%M00" }}Z
SUMMARY:{{ site.conference.short_name }} {{ site.conference.year }}: {{ session.title | escape }}
DESCRIPTION:{% if session.description != nil -%}{{ session.description | strip_html }}\n\n{% endif %}{% if session.presenters != nil -%}{{ session.presenters | replace: "<br>", "\n" | replace: "<em>", "*" | replace: "</em>", "*" | strip_html }}\n\n{% endif %}{% if session.chairs != nil -%}Chaired by{{ session.chairs }}\n\n{% endif %}Please see {{ site.url }}{{ site.baseurl }}/programme/link/{{ session.id }} for more detailed session information.\n\nJoining details are emailed to all registered attendees prior to the conference.
LOCATION:{{ session.location }}
TRANSP:OPAQUE
X-MICROSOFT-CDO-BUSYSTATUS:BUSY
END:VEVENT
{% endif %}{% endfor %}
END:VCALENDAR