---
title: List of all sessions
permalink: /programme/data.json
layout: none
---
[
{%- for session in site.data.prg_sessions %}
    {
        "id": "{{ session.id }}",
        "type": "{{ session.type }}",
        "title": "{{ session.title | escape }}",
        "description": "{{ session.description }}",
        "presenters": "{{ session.presenters | replace: '"', '\\"' }}",
        "chairs": "{{ session.chairs }}",
        "start_time": "{{ session.start_time | date: "%FT%T.000Z"  }}",
        "end_time": "{{ session.end_time | date: "%FT%T.000Z"  }}",
        {% if session.info != nil -%}"info": "{{ session.info }}",{% endif -%}
        {% if session.subtitle != nil -%}"subtitle": "{{ session.subtitle }}",{% endif -%}
        "presentations": [
          {%- for presentation in site.data.prg_presentations[session.id] %}
            {
                "id": "{{ presentation.id }}",
                "title": "{{ presentation.title | escape }}",
                "authors": "{{ presentation.authors }}",
                {% if presentation.aaai != nil -%}"aaai": "{{ presentation.aaai }}",{% endif -%}
                {% if presentation.acmdl != nil -%}"acmdl": "{{ presentation.acmdl }}",{% endif -%}
                {% if presentation.sagepub != nil -%}"sagepub": "{{ presentation.sagepub }}",{% endif -%}
                {% if presentation.springerlink != nil -%}"springerlink": "{{ presentation.springerlink }}",{% endif -%}
                {% if presentation.info != nil -%}"info": "{{ presentation.info }}",{% endif -%}
                {% if presentation.preview != nil -%}"preview": {"text": "{{ presentation.preview.text }}", "link": "{{ presentation.preview.link }}"},{% endif %}
                {% if presentation.award != nil -%}"award": "{{ presentation.award }}",{% endif -%}
                "type": "{{ presentation.type }}"
            }{% unless forloop.last %},{% endunless %}
          {%- endfor %}
        ]
    }{% unless forloop.last %},{% endunless %}{% endfor %}
]